BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_12M" SITE "27" ;
LOCATE COMP "LED[7]" SITE "107" ;
LOCATE COMP "LED[6]" SITE "106" ;
LOCATE COMP "LED[5]" SITE "105" ;
LOCATE COMP "LED[4]" SITE "104" ;
LOCATE COMP "LED[3]" SITE "100" ;
LOCATE COMP "LED[2]" SITE "99" ;
LOCATE COMP "LED[1]" SITE "98" ;
LOCATE COMP "LED[0]" SITE "97" ;
LOCATE COMP "ready" SITE "3" ;
LOCATE COMP "in" SITE "5" ;
LOCATE COMP "tx" SITE "74" ;
